@media (min-width: 750px) {
  .sidebar{
    height: 100%;
    flex: .35;
    border-right: 1px solid lightgray;
    display: flex;
    flex-direction: column;

    .sidebar__header{
      padding: 10px;
      max-height: 60px;
      background-color: #EDEDED;
      display: flex;
      justify-content: space-between;

      &__icons{
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #919191;
        margin-right: 10px;
        width: 12vw;

        & > button mat-icon{
          margin-right: 5vw;
          font-size: 24px;
        }
      }
    }

    &__search{
      background-color: #F6F6F6;
      border-bottom: 1px solid #ccc;
      padding: 10px;
      display: flex;
      justify-content: center;
      position: relative;

      &__content{
        width: fit-content;
        position: relative;

        &__icon{
          position: absolute;
          top: 1px;
          left: 2px;
          color: #ccc;
          font-size: 14px;
        }

        &__input{
          border: 1px solid lightgray;
          width: 280px;
          outline: none;
          border-radius: 20px;
          padding: 8px 20px 8px 30px;
          margin: 5px 5px 5px 5px;

          &::placeholder{
            padding-left: 1.5rem;
            font-size: small;
          }
        }
      }
    }

    &__content{
      overflow-y: scroll;
      //overflow-scrolling: auto;
      flex: 1;
      margin: 5px;

    }
  }


}

@media (max-width: 749px) {

  .sidebar{
    height: 100%;
    flex: .20;
    border-right: 1px solid lightgray;
    display: flex;
    flex-direction: column;

    .sidebar__header{
      padding: 5px;
      max-height: 30px;
      background-color: #EDEDED;
      display: flex;
      justify-content: left;

      &__icons{
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #919191;
        margin-right: 5px;
        width: 6vw;

        & > button mat-icon{
          margin-left: 3vw;
          margin-right: 5vw;
          font-size: 24px;
        }
      }
    }

    &__search{
      background-color: #F6F6F6;
      border-bottom: 1px solid #ccc;
      padding: 3px;
      display: flex;
      justify-content: center;
      position: relative;

      &__content{
        width: fit-content;
        position: relative;

        &__icon{
          position: absolute;
          top: 1px;
          left: 2px;
          color: #ccc;
          font-size: 10px;
        }

        &__input{
          border: 1px solid lightgray;
          width: 100px;
          outline: none;
          border-radius: 10px;
          padding: 8px 20px 8px 30px;
          margin: 5px 5px 5px 5px;

          &::placeholder{
            padding-left: 1.5rem;
            font-size: small;
          }
        }
      }
    }

    &__content{
      overflow-y: scroll;
      //overflow-scrolling: auto;
      flex: 1;
      margin: 5px;

    }
  }
}

// Custom Scroll Bar
::-webkit-scrollbar{
  width: 5px;
}

::-webkit-scrollbar-track{
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb{
  background: #888;
  width: 10px;
}

::-webkit-scrollbar-thumb:hover{
  background: #555;
}


